#button_container {
text-align: center;
}

#start {
width: 150px;
height: 30px;
}

#grid_container {
text-align: center;
margin: auto;
}

.grid_square {
background-color: #006600;
border: 3px solid black;
height: 50px;
width: 50px;
float: left;
}

.grid_square_lit {
background-color: #FF6600;
}

#high{
    display: inline-block;
    position: absolute;
    bottom: 5;

}